body {
    background-color: rgb(42, 42, 42);
    color: rgba(230, 210, 210, 0.99);
}

a {
    color: cyan;
    text-decoration: none;
    /* white-space: nowrap;
    font-size: 16px;
    padding-left: 8px; */
}

p {
    display: flex;
    width: 50%;
}